[Desktop Entry]
Name=TSM Desktop App
Comment=TradeSkillMaster auction data downloader for Linux
Exec=tsm-app
Icon=io.github.exceptionptr.tsm-app-linux
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=tsm-app
Keywords=WoW;TradeSkillMaster;TSM;auction;
